.main-containerq {
  background-color: rgb(247, 82, 16);
  justify-content: center;
  align-items: center;
  width: 350px;
  height: 100%;
  margin-left: 500px;
  border-radius: 1px solid red;
  margin-top: 50px;
}
.h2 {
  margin-left: 100px;
}
.submit {
  padding: 5px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: large;
  background-color: rgb(194, 120, 170);
  margin-left: 100px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.submit1 {
  padding: 5px;
  border: 1px solid black;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: large;
  background-color: rgb(194, 120, 170);
  margin-left: 150px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.email {
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  margin-left: 60px;
  align-items: center;
  justify-content: center;
}
.email:hover {
  box-shadow: 0 0 5px blue;
}
.emaill {
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: #ffffff;
  padding: 10px 10px;
  margin-left: 34px;
  align-items: center;
  justify-content: center;
}
.emaill:hover {
  box-shadow: 0 0 5px blue;
}
.login {
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: large;
  width: 250px;
  background-color: rgb(115, 0, 255);
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.login:hover {
  box-shadow: 0 0 5px blue;
  background-color: aqua;
}
