.header {
  margin-top: 50px;
  background-color: white;
  justify-content: center;
  align-items: center;
  width: 550px;
  height: 69vh;
  margin-left: 500px;
  border: 1px solid #fdfcfa;
  border-radius: 5px;
  backdrop-filter: blur(50px);
}
.reg {
  margin-left: 200px;
  color: rgb(10, 171, 240);
  background-color: white;
}
.submitr {
  padding: 10px 5px;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  font-size: large;
  width: 250px;
  background-color: rgb(115, 0, 255);
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
  border: 1px solid white;
  border-radius: 5px;
}
.label {
  border-radius: 5px;
  border: 2px solid #ccc;
  background-color: rgb(255, 255, 255);
  padding: 10px 10px;
  margin-left: 40px;
  align-items: center;
  justify-content: center;
}
.emails {
  border-radius: 5px;
  padding: 10px 10px;
  margin-left: 70px;
  align-items: center;
  justify-content: center;
  border: 2px solid #ccc;
  background-color: white;
}
.input:hover {
  color: blueviolet;
}
.form {
  background-color: white;
  margin-left: 150px;
}
.form-reg {
  background-color: white;
}
.submitr:hover {
  box-shadow: 0 0 5px cyan;
  background-color: aqua;
}
.label:hover {
  box-shadow: 0 0 5px blue;
}
.email:hover {
  box-shadow: 0 0 5px blue;
}
